@{
	ViewData["Title"] = "Camera an ninh";
}
<h1>@ViewData["Title"]</h1>

@* <p>Use this page to detail your site's privacy policy.</p> *@
<div class="d-flex ">
	<div class="flex-grow-0">
		<img class="img-video"
			style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 25%);"
			src="http://127.0.0.1:5000/video_feed" width="578" height="433">

	</div>
	<div class="flex-grow-1">
		<h3 class="fw-normal text-center ">Điều chỉnh thông số </h3>
		<div class="d-flex justify-content-between ps-4 align-items-center gap-3">
			<label for="customRange3" class="form-label fs-5 text-center ">Độ tin cậy</label>
			<p class="fs-4 p-conf"
				style="color: red; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
				50</p>
			<input type="range" class="form-range w-50 ip-conf" min="1" max="100" step="1" id="customRange3">
		</div>
		<div class="d-flex justify-content-between ps-4 align-items-center gap-3">
			<label for="customRange3" class="form-label fs-5 text-center">Mức độ cảnh báo</label>
			<p class="fs-4 p-lever"
				style="color: red; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
				50</p>
			<input type="range" class="form-range w-50 ip-lever" min="1" max="100" step="1" id="customRange3">
		</div>
		<button type="button" class="btn btn-primary ms-3 btn-reset">Khởi động lại</button>
	</div>


</div>
<script>
	let ip_conf = document.querySelector(".ip-conf")
	let ip_lever = document.querySelector(".ip-lever")
	let p_conf = document.querySelector(".p-conf")
	let p_lever = document.querySelector(".p-lever")
	let video = document.querySelector(".img-video")
	let reset = document.querySelector(".btn-reset")
	console.log(ip_conf);
	ip_conf.oninput = function () {
		p_conf.innerHTML = ip_conf.value
		console.log(ip_conf.value);
		video.src = "http://127.0.0.1:5000/video_feed?conf=" + p_conf.innerHTML + "&&lever=" + p_lever.innerHTML
		console.log(video.src);
	}
	ip_lever.oninput = function () {
		p_lever.innerHTML = ip_lever.value
		console.log(ip_lever.value);
		video.src = "http://127.0.0.1:5000/video_feed?conf=" + p_conf.innerHTML + "&&lever=" + p_lever.innerHTML

	}
	reset.onclick =async function () {
		p_conf.innerHTML = 50
		p_lever.innerHTML = 50
		 ip_lever.value = 50
		 ip_conf.value = 50
		video.src = "http://127.0.0.1:5000/video_feed?conf=" + p_conf.innerHTML + "&&lever=" + p_lever.innerHTML
		 await fetch('https://dweet.io/dweet/for/dnu_cntt1504_nhom2_notice?state=Stable&duration=1000&warning=no')

	}

</script>