@model List<SmartHome.Models.Entity.Log>;
@{
	ViewData["Title"] = "Camera an ninh";
}
<h1>@ViewData["Title"]</h1>

@* <p>Use this page to detail your site's privacy policy.</p> *@
<div class="d-flex ">
	<div class="flex-grow-0">
		<img class="img-video"
			style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 25%);"
			src="http://127.0.0.1:5000/video_feed?src=http://165.234.49.200/mjpg/video.mjpg&&conf=50&&lever=50" width="578" height="433">

	</div>
	<div class="flex-grow-1">
		<h3 class="fw-normal text-center ">Điều chỉnh thông số </h3>
		<div class="d-flex justify-content-between ps-4 align-items-center gap-3">
			<label for="customRange3" class="form-label fs-5 text-center ">Độ tin cậy</label>
			<p class="fs-4 p-conf"
				style="color: red; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
				50</p>
			<input type="range" class="form-range w-50 ip-conf" min="1" max="100" step="1" id="customRange3">
		</div>
		<div class="d-flex justify-content-between ps-4 align-items-center gap-3">
			<label for="customRange3" class="form-label fs-5 text-center">Ngưỡng cảnh báo</label>
			<p class="fs-4 p-lever"
				style="color: red; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
				50</p>
			<input type="range" class="form-range w-50 ip-lever" min="1" max="100" step="1" id="customRange3">
		</div>
		<div class="mx-4">
			<div class="form-floating mb-3">
				<input type="password" class="form-control ip-source" id="floatingInput" value="http://165.234.49.200/mjpg/video.mjpg" value="">
				<label for="floatingInput">Nguồn hình ảnh</label>
			</div>
		</div>
		<button type="button" class="btn btn-primary ms-3 btn-reset">Khởi động lại</button>
	</div>


</div>
<hr>
<h3>Lịch sử bất thường</h3>
@foreach(var item in Model){	
	<p>Phát hiện nguồn cháy bất thường vào thời điểm: @item.Time</p>
}

<script>
	let ip_conf = document.querySelector(".ip-conf")
	let ip_lever = document.querySelector(".ip-lever")
	let p_conf = document.querySelector(".p-conf")
	let p_lever = document.querySelector(".p-lever")
	let video = document.querySelector(".img-video")
	let reset = document.querySelector(".btn-reset")
	let ip_source = document.querySelector(".ip-source")
	console.log(ip_conf);
	ip_conf.oninput = function () {
		p_conf.innerHTML = ip_conf.value
		console.log(ip_conf.value);
		video.src = "http://127.0.0.1:5000/video_feed?conf=" + p_conf.innerHTML + "&&lever=" + p_lever.innerHTML
		console.log(video.src);
	}
	ip_lever.oninput = function () {
		p_lever.innerHTML = ip_lever.value
		console.log(ip_lever.value);
		video.src = "http://127.0.0.1:5000/video_feed?conf=" + p_conf.innerHTML + "&&lever=" + p_lever.innerHTML

	}
	reset.onclick = async function () {
		p_conf.innerHTML = 50
		p_lever.innerHTML = 50
		ip_lever.value = 50
		ip_conf.value = 50
		video.src = "http://127.0.0.1:5000/video_feed?conf=" + p_conf.innerHTML + "&&lever=" + p_lever.innerHTML + "&&src="+ ip_source.value
		await fetch('https://dweet.io/dweet/for/dnu_cntt1504_nhom2_notice?state=Stable&duration=1000&warning=no')

	}

</script>