html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}
.chart-number {
	font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
	text-align: center;
	align-items: center;
	justify-content: end;
  text-shadow: rgb(189, 182, 182)1px 0 10px;
}

.state{
	font-size: 40px;
	font-weight: bold;
	border: 2px solid black;
	padding: 10px 50px;
	box-shadow: 2px 2px;
};